nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 1.5em;
  
  background-color: #4056A1;
  color: #FFFFFF;;
  
}

span {
  font-family: Bungee, sans-serif;
  font-size: 54px;
}

.nav-right{
  font-size: 32px;
  position: relative;
}

.arrow {
  color: red;
}