article.tweet {
border: 4px solid #545149;
margin-top: 50px;
margin-bottom: 50px;
height: auto;
padding: 0.75em;
transition: 0.3s;
}

article:hover {
  box-shadow: 5px 10px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;

  height: 80px;
  margin-bottom: 1em;
}

article.tweet img {
  padding-right: 15px;
}


article.tweet span {
  display: flex;
}

article.tweet .tweet-handle {
  /* font-size: 4vw; */
  opacity: 0.5;
}


article.tweet h3 {
  margin: auto;
  height: 108px;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 4px solid #545149;
  overflow-wrap: break-word;
  block-size: fit-content
}


article.tweet footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

article.tweet i {
  transition: 0.3s;
}
article.tweet i:hover {
  color: #9966CC;
}